<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" th:remove="tag">

</head>

<body>
    <div th:fragment="returnTableReload">
        <div class="row rentalCheckListBase">
            <div class="col-md-3 col-sm-3 windowHidden rentalCheckListMenuPositioning" style="margin:0 0 10px 0;">
                <div class="card shadow rentalCheckList">
                    <div class=" card-body" style="overflow:hidden;">
                        <p class="card-title title" text="合計 0冊の返却" id="sumahoBookRentalNum"></p>
                        <br>
                        <div class="tableButtonPosition tableButtonSize">
                            <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
                            <form th:action="@{/bookReturnConfirm}" method="post" th:id="returnBook">
                                <button class="custom-btn btn-Rental notBack rentalCheckButton" th:text="本を返却する"
                                    id="sumahorentalCheckButton" disabled="disabled" type="button"></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="rentalCheckListPositioning">
                <div class="col-md-9 col-sm-9 rentalCheckListBodyPositioning">
                    <div class="card shadow rentalCheckList">
                        <div class="card-body" style="overflow:hidden;">
                            <h3 class="card-title" th:text="貸し出し中の本"></h3>
                            <hr>
                            <th:block th:if="${rentalList.size() > 0}">
                                <th:block th:each="lending : ${rentalList}" th:object="${lending}">
                                    <div class="flex">
                                        <div class="checkboxes">
                                            <label th:for=" ${lending.id}">
                                                <input type="checkbox" name="checks" th:id="${lending.id}"
                                                    th:value="${lending.id}"
                                                    th:checked="${form.checks.contains(lending.id)}" class="checks" />
                                            </label>
                                        </div>
                                        <figure class="rentalCheckListFigure"><img class="rentalCheckListImg"
                                                th:src="@{/images/{items} (items=*{book.bookNameId.img})}"
                                                th:alt="*{book.bookNameId.title}">
                                        </figure>
                                        <div class="right ">
                                            <p class="title" th:text="*{book.bookNameId.title}"></p>
                                            <p class="elementTitle" th:text="#{author} + '
											'"></p>
                                            <p class="text" th:text="*{book.bookNameId.author}"></p>
                                            <p class="elementTitle" th:text="'本のジャンル'+'
											'"></p>
                                            <p class="text" th:text="*{book.bookNameId.genre.name}"></p>
                                            <p class="elementTitle" th:text="#{publisher} + '
											'"></p>
                                            <p class="text" th:text="*{book.bookNameId.publisher}"></p>
                                            <p class="elementTitle" th:text="返却期限 + '
											'"></p>
                                            <p class="text" th:text="*{returnDueDate}"></p>

                                        </div>
                                    </div>
                                    <hr>
                                </th:block>
                            </th:block>
                            <th:block th:if="${rentalList.size() == 0}">
                                <p class="title" th:text="カートに本はありません"></p>
                            </th:block>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 sumahoHidden" style="flex-shrink: 0;">
                    <div class="card shadow rentalCheckList">
                        <div class=" card-body" style="overflow:hidden;">
                            <p class="card-title title" text="合計 0冊の返却" id="bookRentalNum"></p>
                            <br>
                            <div class="tableButtonPosition tableButtonSize">
                                <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
                                <form th:action="@{/bookReturnConfirm}" method="post" th:id="returnBook">
                                    <button class="custom-btn btn-Rental notBack rentalCheckButton" th:text="本を返却する"
                                        id="rentalCheckButton" disabled="disabled" type="button"></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div hidden th:text="${rentalList.size()}" id="rentalList"></div>
    </div>

</body>

</html>