<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" th:remove="tag">

</head>

<body>

    <div th:fragment="cartTableReload">
        <div class="row cartCheckListBase">
            <div class="col-md-3 col-sm-3 windowHidden cartCheckListMenuPositioning" style="margin:0 0 10px 0;">
                <div class="card shadow cartCheckList">
                    <div class=" card-body" style="overflow:hidden;">
                        <p class="card-title title" th:text="'合計 '+${cartLendingList.size()}+'冊の借り入れ'"
                            id="sumahoBookRentalNum"></p>
                        <p class="elementTitle" th:text="借りたときの返却期限" id="sumahoRentalTerm"></p>
                        <p class="elementTitle" id="dueDateReturn_sumaho"></p>
                        <div class="tableButtonPosition tableButtonSize">
                            <th:block th:if="${cartLendingList.size()} > 0">
                                <button class="custom-btn btn-CartIn notBack cartCheckButton" th:text="本を借りる"
                                    id="sumahoCartCheckButton" type="button"></button>
                            </th:block>
                            <th:block th:if="${cartLendingList.size()} == 0">
                                <form th:action="@{/bookRental}" method="get">
                                    <button class="custom-btn btn-CartIn notBack" th:text="本を借りる"
                                        id="sumahoCartCheckButton" disabled="disabled"
                                        th:onclick="|changeRentalBookNum(${cartLendingList.size()})|"></button>
                                </form>
                            </th:block>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cartCheckListPositioning">
                <div class="col-md-9 col-sm-9 cartCheckListBodyPositioning">
                    <div class="card shadow cartCheckList">
                        <div class="card-body" style="overflow:hidden;">
                            <h3 class="card-title" th:text="カートの内容"></h3>
                            <hr>
                            <th:block th:if="${cartLendingList.size() > 0}">
                                <th:block th:each="lending : ${cartLendingList}" th:object="${lending}">
                                    <div class="flex">
                                        <figure class="cartCheckListFigure"><img class="cartCheckListImg"
                                                th:src="@{/images/{items} (items=*{book.bookNameId.img})}"
                                                th:alt="*{book.bookNameId.title}">
                                        </figure>
                                        <div class="right ">
                                            <p class="title" th:text="*{book.bookNameId.title}"></p>
                                            <p class="elementTitle" th:text="#{author} + '
											'"></p>
                                            <p class="text" th:text="*{book.bookNameId.author}"></p>
                                            <p class="elementTitle" th:text="'本のジャンル'+'
											'"></p>
                                            <p class="text" th:text="*{book.bookNameId.genre.name}"></p>
                                            <p class="elementTitle" th:text="#{publisher} + '
											'"></p>
                                            <p class="text" th:text="*{book.bookNameId.publisher}"></p>
                                            <div class="mt-3">
                                                <form method="get" th:id="'book_cartDelete_'+*{book.Id}">
                                                    <button class="custom-btn btn-CartIn  book_cartDelete_"
                                                        type="button" th:name="*{book.id}" th:text="カートから取り出す"
                                                        th:id="'cartButtonDelete_'+*{book.Id}"
                                                        th:onclick="changeCartBookNum(-1);"></button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                </th:block>
                            </th:block>
                            <th:block th:if="${cartLendingList.size() == 0}">
                                <p class="title" th:text="カートに本はありません"></p>
                            </th:block>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 sumahoHidden" style="flex-shrink: 0;">
                    <div class="card shadow cartCheckList">
                        <div class=" card-body" style="overflow:hidden;">
                            <p class="card-title title" th:text="'合計 '+${cartLendingList.size()}+'冊の借り入れ'"
                                id="bookRentalNum"></p>
                            <br>
                            <p class="elementTitle" th:text="借りたときの返却期限" id="rentalTerm"></p>
                            <p class="elementTitle" id="dueDateReturn"></p>
                            <br>
                            <div class="tableButtonPosition tableButtonSize">
                                <th:block th:if="${cartLendingList.size()} > 0">
                                    <button class="custom-btn btn-CartIn notBack cartCheckButton" th:text="本を借りる"
                                        id="cartCheckButton" type="button"
                                        th:onclick="|changeRentalBookNum(${cartLendingList.size()})|"></button>
                                    <!-- <form th:action="@{/bookRental}" method="get">
									
								</form> -->
                                </th:block>
                                <th:block th:if="${cartLendingList.size()} == 0">
                                    <form th:action="@{/bookRental}" method="get">
                                        <button class="custom-btn btn-CartIn notBack" th:text="本を借りる"
                                            id="cartCheckButton" disabled="disabled"></button>
                                    </form>
                                </th:block>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div hidden th:text="${cartLendingList.size()}" id="cartLendingListSize"></div>
    </div>

</body>

</html>