<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" th:remove="tag">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet">
<title>Rental</title>
</head>
<body class="bg-light">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-8">
				<h4 class="border-bottom my-3" th:text="本の貸し出し"></h4>
				<div class="mb-3">
					<table class="table">

						<tr th:text="*{username}"></tr>
						<tr>
							<th>本のタイトル</th>
							<th>著者</th>
							<th>ジャンル</th>
							<th>出版社</th>
							<th>イメージ</th>
							<th>貸し出し</th>
							<th>詳細</th>
							<th>借りたい本</th>
						</tr>
						<tr th:each="book : ${bookList}" th:object="${book}">
							<td th:text="*{bookNameId.title}"></td>
							<td th:text="*{bookNameId.author}"></td>
							<td th:text="*{bookNameId.genre.name}"></td>
							<td th:text="*{bookNameId.publisher}"></td>
							<td th:text="*{bookNameId.img}"></td>
							<td th:text="*{lendable}"></td>
							<td th:text="*{bookNameId.detail}"></td>
							<td th:block th:if="*{lendable}">
								<div class="mr-10">
									<form th:action="@{/bookIndex/{bookId}(bookId=*{id})}" method="get">
										<button class="w-80 btn btn-primary" type="submit" 
											th:text="カートに入れる"></button>
									</form>
								</div>
							</td>
						</tr>

						<tr>
							<td>
								<div class="mr-10">
									<button class="w-100 btn btn-primary" type="submit"
										th:text="本を借りる"></button>
								</div>
							</td>
						</tr>
					</table>
					<table class="table">
						<tr>
							<td>
								<div class="mr-10">
									<form th:action="@{/}" method="get">
										<button class="w-40 btn btn-primary" type="submit"
											th:text="メインサイト"></button>
									</form>
								</div>
							</td>

							<td>
								<div class="mr-10">
									<form th:action="@{/bookRegister}" method="get">
										<button class="w-40 btn btn-primary" type="submit"
											th:text="本の登録"></button>
									</form>
								</div>
							</td>
							<td>
								<div class="mr-10">
									<form th:action="@{/bookRentalConfirm}" method="post">
										<button class="w-40 btn btn-primary" type="submit"
											th:text="カートの確認"></button>
									</form>
								</div>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>