<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<head>
	<meta charset="UTF-8">
</head>

<body>
	<main layout:fragment="content" class="bg-image">
		<div class="container">
			<div class="row vh-100 align-items-center justify-content-center">
				<div class="card shadow" style="max-width: 1080px;">
					<div class="card-body" style="overflow: auto;">
						<h3 class="card-title text-center text-navy" th:text="貸し出し状況"></h3>
						<table class="table">
							<thead class="tableTitleText">
								<tr>
									<th th:text=#{title}></th>
									<th th:text=#{author}></th>
									<th th:text=#{genre}></th>
									<th th:text=#{publisher}></th>
									<th>返却期限</th>
								</tr>
							</thead>
							<tbody class="tableBodyText">
								<tr th:each="lending : ${rentalList}" th:object="${lending}">
									<td th:text="*{book.bookNameId.title}"></td>
									<td th:text="*{book.bookNameId.author}"></td>
									<td th:text="*{book.bookNameId.genre.name}"></td>
									<td th:text="*{book.bookNameId.publisher}"></td>
									<td th:text="*{returnDueDate}"></td>
								</tr>
							</tbody>
						</table>
						<div class="tableButtonPosition tableButtonSize">
							<th:block th:if="${rentalList.size()}>0">
								<form th:action="@{/bookReturnRegister}" method="get">
									<button class="custom-btn btn-CartIn notBack" th:text="本の返却"></button>
								</form>
							</th:block>
							<div>
								<button class="custom-btn btn-Back notBack" onclick="history.back()"
									th:text="戻る"></button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>

</html>