<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<head>
	<meta charset="UTF-8">
</head>

<body>
	<main layout:fragment="content" class="bg-image">
		<div class="container">
			<div class="row vh-100 align-items-center justify-content-center">
				<div class="card shadow" style="max-width: 960px;">
					<div class="card-body">
						<h3 class="card-title mb-3 text-center text-navy" th:text="以下の本を借りました"></h3>
						<table class="table">
							<thead class="thFontSize notBack">
								<tr th:text="*{username}"></tr>
								<tr>
									<th th:text=#{title}></th>
									<th th:text=#{author}></th>
									<th th:text=#{genre}></th>
									<th th:text=#{publisher}></th>
								</tr>
							</thead>
							<tbody class="tbodyFontSize"></tbody>
							<tr th:each="lending : ${cartLendingList}" th:object="${cartLendingList}">
								<td th:text="${lending.book.bookNameId.title}"></td>
								<td th:text="${lending.book.bookNameId.author}"></td>
								<td th:text="${lending.book.bookNameId.genre.name}"></td>
								<td th:text="${lending.book.bookNameId.publisher}"></td>
							</tr>
							</tbody>
						</table>
						<form th:action="@{/bookIndex}" th:object="${user}" method="get">
							<button class="custom-btn btn-CartIn notBack" type="submit" th:text="本の貸し出しページに戻る"></button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</main>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>

</html>