<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<head>
	<meta charset="UTF-8">
</head>

<body>
	<main layout:fragment="content" class="bg-image">
		<div class="container">
			<div class="row vh-100 align-items-center justify-content-center">
				<div class="card shadow" style="max-width: 960px;">
					<div class="card-body">
						<h3 class="card-title mb-3 text-center text-navy" th:text="借りる本の確認"></h3>
						<table class="table">
							<thead class="thFontSize notBack">
								<tr th:text="*{username}"></tr>
								<tr>
									<th th:text=#{title}></th>
									<th th:text=#{author}></th>
									<th th:text=#{genre}></th>
									<th th:text=#{publisher}></th>
								</tr>
							</thead>
							<tbody class="tbodyFontSize">
								<tr th:each="lending : ${lendingList}" th:object="${lending}">
									<td th:text="*{book.bookNameId.title}"></td>
									<td th:text="*{book.bookNameId.author}"></td>
									<td th:text="*{book.bookNameId.genre.name}"></td>
									<td th:text="*{book.bookNameId.publisher}"></td>
								</tr>
							</tbody>
						</table>
						<div class="lineSide">
							<div class="mr-3">
								<form th:action="@{/bookRentalComplete}" th:object="${user}" method="get">
									<button class="custom-btn btn-CartIn notBack" type="submit" th:text="借りる"></button>
								</form>
							</div>
							<button class="custom-btn btn-Back notBack" onclick="history.back()" th:text="戻る"></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>

</html>