<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorate="~{layout/rentalLayout}">

<head>
	<meta charset="UTF-8" th:remove="tag">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

	<script src="/js/book/overlay.js" type="module"></script>
	<script src="/js/book/bookSearchAnotherPage.js" type="module"></script>
	<script src="/js/book/bookSearchEntryAnotherPage.js" type="module"></script>


	<script src="/js/bookReturn/bookReturnCheck.js" type="module"></script>
	<script src="/js/bookReturn/bookReturnEntry.js" type="module"></script>

	<link th:href="@{/css/main_BookSlicker.css}" rel="stylesheet">
	<link th:href="@{/css/main_returnBookInfo.css}" rel="stylesheet">
	<link th:href="@{/css/cartRentalCheckLayout/renralLayout.css}" rel="stylesheet">
</head>

<body>
	<!-- トップバーの表示 -->
	<div layout:fragment="topbar" th:replace="~{fragments/topbar :: topbar}"></div>

	<main layout:fragment="content">
		<!-- ↓非同期処理の待機画面の挿入 -->
		<div id="overlay">
			<div class="cv-spinner">
				<span class="spinner"></span>
			</div>
		</div>
		<div id="ajaxReload">
			<div th:replace="~{BookRental/bookReturnCheckFragment/bookReturnTable :: returnTableReload}">
			</div>
		</div>
	</main>

	<!-- <main layout:fragment="content" class="bg-image">
		<div class="container">
			<div class="row vh-100 align-items-center justify-content-center">
				<div class="card shadow" style="max-width: 1080px;">
					<div class="card-body" style="overflow: auto;">
						<h3 class="card-title text-center text-navy" th:text="貸し出し状況"></h3>
						<table class="table">
							<thead class="tableTitleText">
								<tr>
									<th th:text=#{title}></th>
									<th th:text=#{author}></th>
									<th th:text=#{genre}></th>
									<th th:text=#{publisher}></th>
									<th>返却期限</th>
								</tr>
							</thead>
							<tbody class="tableBodyText">
								<tr th:each="lending : ${rentalList}" th:object="${lending}">
									<td th:text="*{book.bookNameId.title}"></td>
									<td th:text="*{book.bookNameId.author}"></td>
									<td th:text="*{book.bookNameId.genre.name}"></td>
									<td th:text="*{book.bookNameId.publisher}"></td>
									<td th:text="*{returnDueDate}"></td>
								</tr>
							</tbody>
						</table>
						<div class="tableButtonPosition tableButtonSize">
							<th:block th:if="${rentalList.size()}>0">
								<form th:action="@{/bookReturnRegister}" method="get">
									<button class="custom-btn btn-CartIn notBack" th:text="本の返却"></button>
								</form>
							</th:block>
							<div>
								<button class="custom-btn btn-Back notBack" onclick="history.back()"
									th:text="戻る"></button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script> -->
</body>

</html>