<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <meta charset="UTF-8">
</head>

<body>
  <!-- トップバー -->
  <div id="header" th:fragment="topbar" class="menu-bar">
    <nav class="h-100 nav_top">
      <ul class="ul_top">
        <h4 class="offcanvas-title" id="offcanvasScrolling">
          <a th:href="@{/}" class="menua">
            <span class="d-inline-block me-1" style="transform: rotate(-15deg)">
              <i class="bi bi-credit-card-2-front-fill">
              </i>
            </span>
            本のレンタル
          </a>
        </h4>

        <form action="#" class="search-form-005 me-2">
          <label>
            <input type="text" placeholder="本のタイトル">
          </label>
          <button type="submit" aria-label="検索"></button>
        </form>

        <div class="centerAlign">
          <li class="li_top menuList">
            <a th:href="@{/}" class="menua">
              <i class="bi bi-card-heading me-2"></i>
              <p>メインサイト</p>
            </a>
          </li>
        </div>

        <div class="centerAlign">
          <li sec:authorize="hasAuthority('ADMIN')" class="nav-item menuList">
            <a th:href="@{/index}" class="menua">
              <i class="bi bi-table me-2"></i>
              <p>ユーザ一覧</p>
            </a>
          </li>
        </div>

        <div class="centerAlign">
          <li class="nav-item menuList">
            <a th:href="@{/bookIndex}" class="menua">
              <i class="bi bi-book-fill me-2"></i>
              <p>本の借り入れ</p>
            </a>
          </li>
        </div>

        <div class="centerAlign">
          <li class="nav-item menuList">
            <!-- <form th:action="@{/bookCartConfirm}" method="get" class="menua"> -->
            <a th:href="@{/bookCartConfirm}" class="menua">
              <div class="button-065">
                <span th:text="${cartLendingList.size()}"></span>
              </div>
              <p>カート</p>
            </a>
            <!-- </form> -->
          </li>
        </div>

        <div class="centerAlign rightElement">
          <li sec:authorize="isAuthenticated()" class="nav-item">
            <a th:href="@{/logout}" class="menuUser">
              <i class="bi bi-box-arrow-right"></i>
              <p>ログアウト</p>
            </a>
          </li>
          <li sec:authorize="!isAuthenticated()" class="nav-item">
            <a th:href="@{/login}" class="menuUser">
              <i class="bi bi-box-arrow-right"></i>
              <p>ログイン</p>
            </a>
          </li>
        </div>
      </ul>
    </nav>
  </div>
</body>

</html>