<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <meta charset="UTF-8">
</head>

<body>

  <!-- トップバー -->
  <div id="header" th:fragment="topbar" class="menu-bar">
    <nav class="h-100 nav_top">
      <ul>
        <h4 class="offcanvas-title" id="offcanvasScrolling">
          <a th:href="@{/}" class="menua">
            <span class="d-inline-block me-1" style="transform: rotate(-15deg)">
              <i class="bi bi-credit-card-2-front-fill fs-3">
              </i>
            </span>
            本のレンタル
          </a>
        </h4>

        <li class="li_top menuList">
          <a th:href="@{/}" class="menua">
            <i class="bi bi-card-heading me-2"></i>
            メインサイト
          </a>
        </li>

        <li sec:authorize="hasAuthority('ADMIN')" class="nav-item menuList">
          <a th:href="@{/index}" class="menua">
            <i class="bi bi-table me-2"></i>
            ユーザ一覧
          </a>
        </li>
        <li class="nav-item menuList">
          <a th:href="@{/bookIndex}" class="menua">
            <i class="bi bi-book-fill me-2"></i>
            本の借り入れ
          </a>
        </li>

        <li sec:authorize="isAuthenticated()" class="nav-item rightElement">
          <a th:href="@{/logout}" class="menuUser">
            <i class="bi bi-box-arrow-right me-2"></i>
            ログアウト
          </a>
        </li>
        <li sec:authorize="!isAuthenticated()" class="nav-item rightElement">
          <a th:href="@{/login}" class="menuUser">
            <i class="bi bi-box-arrow-right me-2"></i>
            ログイン
          </a>
        </li>
      </ul>
    </nav>
  </div>
</body>

</html>