/* フォームの入力時に使用する */

/* Color */
.bg-image {
  
    /* background:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='100%25' width='100%25'%3E%3Cdefs%3E%3Cpattern id='doodad' width='19.63' height='34' viewBox='0 0 34.64101615137755 60' patternUnits='userSpaceOnUse' patternTransform=''%3E%3Crect width='100%25' height='100%25' fill='rgba(247, 250, 252,1)'/%3E%3Cpath d='M51.96 30L51.96 50L34.64 60L34.64 40z' stroke-linejoin='miter' fill='rgba(237, 242, 247,1)'/%3E%3Cpath d='M17.32 30L17.32 50L0 60L0 40z' stroke-linejoin='miter' fill='rgba(237, 242, 247,1)'/%3E%3Cpath d='M34.64 0L34.64 20L17.32 30L17.32 10z' stroke-linejoin='miter' fill='rgba(237, 242, 247,1)'/%3E%3Cpath d='M34.64 60L34.64 80L17.32 90L17.32 70z' stroke-linejoin='miter' fill='rgba(237, 242, 247,1)'/%3E%3Cpath d='M34.64 60L17.32 50L17.32 30L34.64 40z' stroke-linejoin='miter' fill='rgba(226, 232, 240,1)'/%3E%3Cpath d='M0 60L-17.32 50L-17.32 30L0 40z' stroke-linejoin='miter' fill='rgba(226, 232, 240,1)'/%3E%3Cpath d='M17.32 30L0 20L0 0L17.32 10z' stroke-linejoin='miter' fill='rgba(226, 232, 240,1)'/%3E%3Cpath d='M17.32 90L0 80L0 60L17.32 70z' stroke-linejoin='miter' fill='rgba(226, 232, 240,1)'/%3E%3Cpath d='M28.58 43.5L28.58 36.5L34.64 33L34.64 40z' stroke-linejoin='miter' fill='rgba(237, 242, 247,1)'/%3E%3Cpath d='M-6.06 43.5L-6.06 36.5L0 33L0 40z' stroke-linejoin='miter' fill='rgba(237, 242, 247,1)'/%3E%3Cpath d='M11.26 13.5L11.26 6.5L17.32 3L17.32 10z' stroke-linejoin='miter' fill='rgba(237, 242, 247,1)'/%3E%3Cpath d='M11.26 73.5L11.26 66.5L17.32 63L17.32 70z' stroke-linejoin='miter' fill='rgba(237, 242, 247,1)'/%3E%3Cpath d='M34.64 33L40.7 36.5L40.7 43.5L34.64 40z' stroke-linejoin='miter' fill='rgba(226, 232, 240,1)'/%3E%3Cpath d='M0 33L6.06 36.5L6.06 43.5L0 40z' stroke-linejoin='miter' fill='rgba(226, 232, 240,1)'/%3E%3Cpath d='M17.32 3L23.38 6.5L23.38 13.5L17.32 10z' stroke-linejoin='miter' fill='rgba(226, 232, 240,1)'/%3E%3Cpath d='M17.32 63L23.38 66.5L23.38 73.5L17.32 70z' stroke-linejoin='miter' fill='rgba(226, 232, 240,1)'/%3E%3Cpath d='M40.7 43.5L34.64 47L28.58 43.5L34.64 40z' stroke-linejoin='miter' background='true' fill='rgba(237, 242, 247,1)'/%3E%3Cpath d='M6.06 43.5L0 47L-6.06 43.5L0 40z' stroke-linejoin='miter' background='true' fill='rgba(237, 242, 247,1)'/%3E%3Cpath d='M23.38 13.5L17.32 17L11.26 13.5L17.32 10z' stroke-linejoin='miter' background='true' fill='rgba(237, 242, 247,1)'/%3E%3Cpath d='M23.38 73.5L17.32 77L11.26 73.5L17.32 70z' stroke-linejoin='miter' background='true' fill='rgba(237, 242, 247,1)'/%3E%3Cpath d='M34.64 42.1L32.82 41.05L32.82 38.95L34.64 40z' stroke-linejoin='miter' fill='rgba(226, 232, 240,1)'/%3E%3Cpath d='M0 42.1L-1.82 41.05L-1.82 38.95L0 40z' stroke-linejoin='miter' fill='rgba(226, 232, 240,1)'/%3E%3Cpath d='M17.32 12.1L15.5 11.05L15.5 8.95L17.32 10z' stroke-linejoin='miter' fill='rgba(226, 232, 240,1)'/%3E%3Cpath d='M17.32 72.1L15.5 71.05L15.5 68.95L17.32 70z' stroke-linejoin='miter' fill='rgba(226, 232, 240,1)'/%3E%3Cpath d='M36.46 38.95L36.46 41.05L34.64 42.1L34.64 40z' stroke-linejoin='miter' fill='rgba(237, 242, 247,1)'/%3E%3Cpath d='M1.82 38.95L1.82 41.05L0 42.1L0 40z' stroke-linejoin='miter' fill='rgba(237, 242, 247,1)'/%3E%3Cpath d='M19.14 8.95L19.14 11.05L17.32 12.1L17.32 10z' stroke-linejoin='miter' fill='rgba(237, 242, 247,1)'/%3E%3Cpath d='M19.14 68.95L19.14 71.05L17.32 72.1L17.32 70z' stroke-linejoin='miter' fill='rgba(237, 242, 247,1)'/%3E%3Cpath d='M32.82 38.95L34.64 37.9L36.46 38.95L34.64 40z' stroke-linejoin='miter' background='true' fill='rgba(226, 232, 240,1)'/%3E%3Cpath d='M-1.82 38.95L0 37.9L1.82 38.95L0 40z' stroke-linejoin='miter' background='true' fill='rgba(226, 232, 240,1)'/%3E%3Cpath d='M15.5 8.95L17.32 7.9L19.14 8.95L17.32 10z' stroke-linejoin='miter' background='true' fill='rgba(226, 232, 240,1)'/%3E%3Cpath d='M15.5 68.95L17.32 67.9L19.14 68.95L17.32 70z' stroke-linejoin='miter' background='true' fill='rgba(226, 232, 240,1)'/%3E%3Cpath d='M34.19 40.26L34.19 39.74L34.64 39.48L34.64 40z' stroke-linejoin='miter' fill='rgba(237, 242, 247,1)'/%3E%3Cpath d='M-0.45 40.26L-0.45 39.74L0 39.48L0 40z' stroke-linejoin='miter' fill='rgba(237, 242, 247,1)'/%3E%3Cpath d='M16.87 10.26L16.87 9.74L17.32 9.48L17.32 10z' stroke-linejoin='miter' fill='rgba(237, 242, 247,1)'/%3E%3Cpath d='M16.87 70.26L16.87 69.74L17.32 69.47L17.32 70z' stroke-linejoin='miter' fill='rgba(237, 242, 247,1)'/%3E%3Cpath d='M34.64 39.48L35.09 39.74L35.09 40.26L34.64 40z' stroke-linejoin='miter' fill='rgba(226, 232, 240,1)'/%3E%3Cpath d='M0 39.48L0.45 39.74L0.45 40.26L0 40z' stroke-linejoin='miter' fill='rgba(226, 232, 240,1)'/%3E%3Cpath d='M17.32 9.48L17.77 9.74L17.77 10.26L17.32 10z' stroke-linejoin='miter' fill='rgba(226, 232, 240,1)'/%3E%3Cpath d='M17.32 69.47L17.77 69.74L17.77 70.26L17.32 70z' stroke-linejoin='miter' fill='rgba(226, 232, 240,1)'/%3E%3Cpath d='M35.09 40.26L34.64 40.53L34.19 40.26L34.64 40z' stroke-linejoin='miter' background='true' fill='rgba(237, 242, 247,1)'/%3E%3Cpath d='M0.45 40.26L0 40.53L-0.45 40.26L0 40z' stroke-linejoin='miter' background='true' fill='rgba(237, 242, 247,1)'/%3E%3Cpath d='M17.77 10.26L17.32 10.53L16.87 10.26L17.32 10z' stroke-linejoin='miter' background='true' fill='rgba(237, 242, 247,1)'/%3E%3Cpath d='M17.77 70.26L17.32 70.53L16.87 70.26L17.32 70z' stroke-linejoin='miter' background='true' fill='rgba(237, 242, 247,1)'/%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23doodad)' height='200%25' width='200%25'/%3E%3C/svg%3E "); */
    /* background:
  url('/images/background/bookarrange.png'),url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='100%25' width='100%25'%3E%3Cdefs%3E%3Cpattern id='doodad' width='12.12' height='21' viewBox='0 0 34.64101615137755 60' patternUnits='userSpaceOnUse' patternTransform=''%3E%3Crect width='100%25' height='100%25' fill='rgba(247, 250, 252, 1)'/%3E%3Cpath d='M51.96 30L51.96 50L34.64 60L34.64 40z' stroke-linejoin='miter' fill='rgba(237, 242, 247, 1)'/%3E%3Cpath d='M17.32 30L17.32 50L0 60L0 40z' stroke-linejoin='miter' fill='rgba(237, 242, 247, 1)'/%3E%3Cpath d='M34.64 0L34.64 20L17.32 30L17.32 10z' stroke-linejoin='miter' fill='rgba(237, 242, 247, 1)'/%3E%3Cpath d='M34.64 60L34.64 80L17.32 90L17.32 70z' stroke-linejoin='miter' fill='rgba(237, 242, 247, 1)'/%3E%3Cpath d='M34.64 60L17.32 50L17.32 30L34.64 40z' stroke-linejoin='miter' fill='rgba(226, 232, 240, 1)'/%3E%3Cpath d='M0 60L-17.32 50L-17.32 30L0 40z' stroke-linejoin='miter' fill='rgba(226, 232, 240, 1)'/%3E%3Cpath d='M17.32 30L0 20L0 0L17.32 10z' stroke-linejoin='miter' fill='rgba(226, 232, 240, 1)'/%3E%3Cpath d='M17.32 90L0 80L0 60L17.32 70z' stroke-linejoin='miter' fill='rgba(226, 232, 240, 1)'/%3E%3Cpath d='M19.92 48.5L19.92 31.5L34.64 23L34.64 40z' stroke-linejoin='miter' fill='rgba(237, 242, 247, 1)'/%3E%3Cpath d='M-14.72 48.5L-14.72 31.5L0 23L0 40z' stroke-linejoin='miter' fill='rgba(237, 242, 247, 1)'/%3E%3Cpath d='M2.6 18.5L2.6 1.5L17.32-7L17.32 10z' stroke-linejoin='miter' fill='rgba(237, 242, 247, 1)'/%3E%3Cpath d='M2.6 78.5L2.6 61.5L17.32 53L17.32 70z' stroke-linejoin='miter' fill='rgba(237, 242, 247, 1)'/%3E%3Cpath d='M34.64 23L49.36 31.5L49.36 48.5L34.64 40z' stroke-linejoin='miter' fill='rgba(226, 232, 240, 1)'/%3E%3Cpath d='M0 23L14.72 31.5L14.72 48.5L0 40z' stroke-linejoin='miter' fill='rgba(226, 232, 240, 1)'/%3E%3Cpath d='M17.32-7L32.04 1.5L32.04 18.5L17.32 10z' stroke-linejoin='miter' fill='rgba(226, 232, 240, 1)'/%3E%3Cpath d='M17.32 53L32.04 61.5L32.04 78.5L17.32 70z' stroke-linejoin='miter' fill='rgba(226, 232, 240, 1)'/%3E%3Cpath d='M49.36 48.5L34.64 57L19.92 48.5L34.64 40z' stroke-linejoin='miter' background='true' fill='rgba(237, 242, 247, 1)'/%3E%3Cpath d='M14.72 48.5L0 57L-14.72 48.5L0 40z' stroke-linejoin='miter' background='true' fill='rgba(237, 242, 247, 1)'/%3E%3Cpath d='M32.04 18.5L17.32 27L2.6 18.5L17.32 10z' stroke-linejoin='miter' background='true' fill='rgba(237, 242, 247, 1)'/%3E%3Cpath d='M32.04 78.5L17.32 87L2.6 78.5L17.32 70z' stroke-linejoin='miter' background='true' fill='rgba(237, 242, 247, 1)'/%3E%3Cpath d='M34.64 45.1L30.22 42.55L30.22 37.45L34.64 40z' stroke-linejoin='miter' fill='rgba(226, 232, 240, 1)'/%3E%3Cpath d='M0 45.1L-4.42 42.55L-4.42 37.45L0 40z' stroke-linejoin='miter' fill='rgba(226, 232, 240, 1)'/%3E%3Cpath d='M17.32 15.1L12.9 12.55L12.9 7.45L17.32 10z' stroke-linejoin='miter' fill='rgba(226, 232, 240, 1)'/%3E%3Cpath d='M17.32 75.1L12.9 72.55L12.9 67.45L17.32 70z' stroke-linejoin='miter' fill='rgba(226, 232, 240, 1)'/%3E%3Cpath d='M39.06 37.45L39.06 42.55L34.64 45.1L34.64 40z' stroke-linejoin='miter' fill='rgba(237, 242, 247, 1)'/%3E%3Cpath d='M4.42 37.45L4.42 42.55L0 45.1L0 40z' stroke-linejoin='miter' fill='rgba(237, 242, 247, 1)'/%3E%3Cpath d='M21.74 7.45L21.74 12.55L17.32 15.1L17.32 10z' stroke-linejoin='miter' fill='rgba(237, 242, 247, 1)'/%3E%3Cpath d='M21.74 67.45L21.74 72.55L17.32 75.1L17.32 70z' stroke-linejoin='miter' fill='rgba(237, 242, 247, 1)'/%3E%3Cpath d='M30.22 37.45L34.64 34.9L39.06 37.45L34.64 40z' stroke-linejoin='miter' background='true' fill='rgba(226, 232, 240, 1)'/%3E%3Cpath d='M-4.42 37.45L0 34.9L4.42 37.45L0 40z' stroke-linejoin='miter' background='true' fill='rgba(226, 232, 240, 1)'/%3E%3Cpath d='M12.9 7.45L17.32 4.9L21.74 7.45L17.32 10z' stroke-linejoin='miter' background='true' fill='rgba(226, 232, 240, 1)'/%3E%3Cpath d='M12.9 67.45L17.32 64.9L21.74 67.45L17.32 70z' stroke-linejoin='miter' background='true' fill='rgba(226, 232, 240, 1)'/%3E%3Cpath d='M33.54 40.64L33.54 39.36L34.64 38.73L34.64 40z' stroke-linejoin='miter' fill='rgba(237, 242, 247, 1)'/%3E%3Cpath d='M-1.1 40.64L-1.1 39.36L0 38.73L0 40z' stroke-linejoin='miter' fill='rgba(237, 242, 247, 1)'/%3E%3Cpath d='M16.22 10.64L16.22 9.36L17.32 8.73L17.32 10z' stroke-linejoin='miter' fill='rgba(237, 242, 247, 1)'/%3E%3Cpath d='M16.22 70.64L16.22 69.36L17.32 68.72L17.32 70z' stroke-linejoin='miter' fill='rgba(237, 242, 247, 1)'/%3E%3Cpath d='M34.64 38.73L35.74 39.36L35.74 40.64L34.64 40z' stroke-linejoin='miter' fill='rgba(226, 232, 240, 1)'/%3E%3Cpath d='M0 38.73L1.1 39.36L1.1 40.64L0 40z' stroke-linejoin='miter' fill='rgba(226, 232, 240, 1)'/%3E%3Cpath d='M17.32 8.73L18.42 9.36L18.42 10.64L17.32 10z' stroke-linejoin='miter' fill='rgba(226, 232, 240, 1)'/%3E%3Cpath d='M17.32 68.72L18.42 69.36L18.42 70.64L17.32 70z' stroke-linejoin='miter' fill='rgba(226, 232, 240, 1)'/%3E%3Cpath d='M35.74 40.64L34.64 41.28L33.54 40.64L34.64 40z' stroke-linejoin='miter' background='true' fill='rgba(237, 242, 247, 1)'/%3E%3Cpath d='M1.1 40.64L0 41.28L-1.1 40.64L0 40z' stroke-linejoin='miter' background='true' fill='rgba(237, 242, 247, 1)'/%3E%3Cpath d='M18.42 10.64L17.32 11.28L16.22 10.64L17.32 10z' stroke-linejoin='miter' background='true' fill='rgba(237, 242, 247, 1)'/%3E%3Cpath d='M18.42 70.64L17.32 71.28L16.22 70.64L17.32 70z' stroke-linejoin='miter' background='true' fill='rgba(237, 242, 247, 1)'/%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23doodad)' height='200%25' width='200%25'/%3E%3C/svg%3E ")
    ; */
    background:
    linear-gradient(to bottom,
      rgba(34, 74, 190, 1),
      rgba(34, 74, 190, 0.7)),
    url('/images/background/book.jpg');
  background-size: cover;
}

.card{
  --bs-card-bg: rgb(250, 250, 250);
}

.text-navy {
  color: #224abe;
}

/* Link */
a {
  text-decoration: none;
}

/* Size */
.mh-100 {
  height: calc(100vh - 56px)
}

/* Table */
.table> :not(:first-child) {
  border-top: 0;
}

.table{
  width: 100%;
  table-layout: fixed;
}

.tableButtonPosition{
  display:flex;
  justify-content:space-around
}

/* ボタンの大きさを変更するクラススマホタブレットは下の@media */
.tableButtonSize button{
  width: 100%;
  height: auto;
}

.tableBodyText td{
  word-break: break-word;
  white-space: pre-line;
  font-size: clamp(6px,2vw,16px);
}

.tableTitleText th{
  white-space: nowrap;
  font-size: clamp(6px,2vw,18px);
}

/* 読み込み中等のオーバーレイのCSS */
#overlay {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  display: none;
  background: rgba(0, 0, 0, 0.6);
}

.cv-spinner {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  width: 40px;
  height: 40px;
  border: 4px #ddd solid;
  border-top: 4px #2e93e6 solid;
  border-radius: 50%;
  animation: sp-anime 0.8s infinite linear;
}

@keyframes sp-anime {
  100% {
    transform: rotate(360deg);
  }
}

.is-hide {
  display: none;
}

@media screen and (max-width: 768px) {
	.thFontSize{
    font-size: 2vw;
  }
}

@media screen and (max-width: 420px) {
	.thFontSize{
    font-size: 1vw;
  }

  .tableTitleText th{
    /* white-space: nowrap; */
    width: 70px;
    /* word-break: break-word; */
    font-size: 10px;
  }

  .tableBodyText td{
    word-break: break-word;
    white-space: pre-line;
    font-size: 12px;
  }
}

.notBack{
  white-space: nowrap;
}

.lineSide{
  display: flex;
  justify-content: space-evenly;
}
