
.cartCheckListStr p{
    white-space: nowrap
  }
  
  .cartCheckListBase{
    margin: 0 15px;
  }
  
  @media screen and (min-width: 576px) {
    .cartCheckListPositioning{
      display: flex;
      gap:0 15px;
      justify-content: center;
    }
  }
  
  @media screen and (max-width: 576px) {
    .cartCheckListPositioning{
      display: unset;
    }
  }
  .cartCheckList
    /* 画像を上方揃え表示 */
      .flex .image {
      overflow: hidden;
      position: relative;
    }

/* カードイメージ */
* {
	list-style: none;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.card{
  --bs-card-bg: rgb(250, 250, 250);
}

.flex {
    display: flex; /*横並び*/
  }
  .flex .image {
    /*画像サイズ指定*/
    width: 200px; 
    /*画像最小サイズ指定*/
    /* min-width: 120px;  */
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
  }

  .flex .cartCheckListImg{    
    /*画像サイズ指定*/
    width: clamp(100px,30vw,160px); 
    /*画像最小サイズ指定*/
    /* min-width: 120px;  */
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
    
  }

  .flex .cartCheckListFigure{
    /* display:flex で画面が小さくなっても小さくならないようにしている */
    flex-shrink: 0;
  }

  .flex .right {
    margin: 0 0 0 20px;
    padding: 0;
  }
  .title {
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 1.2rem;
    white-space: pre-line;
  }

  .flex .elementTitle {
    margin: 10px 0 0;
    padding: 0;
    font-weight: 600;
    font-size: clamp(10px,3.9vw,18px);
    white-space: pre-line;
    white-space: nowrap;
  }

  .flex .text {
    margin: 0 8px 0;
    padding: 0;
    font-size: clamp(6px,3.0vw,16px);
    white-space: pre-line;
    overflow-wrap: normal;
  }
  .flex .detail {
    margin: 10px 0 0;
    padding: 0;
    font-size: clamp(6px,3.0vw,16px);
    white-space: pre-line;
  }

  #cartCheckButton{
    width: 100%;
    font-size: 80%;
    padding: 5px 12px;
  }

  /* 画面の表示非表示切り替え */
  @media screen and (max-width: 576px) {
    .sumahoHidden{
      display: none;
    }
    
    .cartCheckListMenuPositioning{
      height: 0;
      position:sticky;
      top: 50px;
      left: 27px;
      right: 27px;
      z-index: 999;
    }

    .cartCheckListBodyPositioning{
      padding-top: 170px;
    }
  }
  @media screen and (min-width: 576px) {
    .windowHidden{
      display: none;
    }
  }

  p{
    margin: 0px;
  }
