.tableTitleText th{
    white-space: nowrap;
    font-size: clamp(6px,2vw,18px);
}

.tableBodyText td{
    word-break: break-word;
    white-space: pre-line;
    font-size: clamp(6px,2vw,16px);
}

.card-body{
    overflow: scroll;
}

@media screen and (max-width: 425px){
    .sumahoNone {display:none}
    
    .tableTitleText th{
        min-width: 120px;
        font-size: 12px;
      }

    .tableBodyText td{
        word-break: break-word;
        white-space: pre-line;
        font-size: 13px;
    }
}