<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorate="~{layout/mainLayout}">

<head>
	<meta charset="UTF-8" th:remove="tag">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
	<script src="/js/book/bookEntry.js" type="module"></script>
	<script src="/js/book/bookCartIn.js" type="module"></script>
	<script src="/js/book/bookCartDelete.js" type="module"></script>
	<script src="/js/book/overlay.js" type="module"></script>
</head>

<body>
	<!-- トップバーの表示 -->
	<div layout:fragment="topbar" th:replace="~{fragments/topbar :: topbar}"></div>
	<main layout:fragment="content" class="bg-light">
		<div class="container-fluid">
			<div class="row">
				<div class="col">
					<div class="card shadow">
						<div class="card-header">
							<h4 class="border-bottom my-3" th:text="ユーザーの貸し出し状況"></h4>
							<div class="mb-3">
								<table class="table table-bordered table_th">
									<thead>
										<tr>
											<th th:text=#{title}></th>
											<th th:text=#{author}></th>
											<th th:text=#{genre}></th>
											<th th:text=#{publisher}></th>
											<th>貸し出し状況</th>
											<th>貸し出しユーザー</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="lend : ${lendingList}" th:object="${lend}">
											<td th:text="*{book.bookNameId.title}"></td>
											<td th:text="*{book.bookNameId.author}"></td>
											<td th:text="*{book.bookNameId.genre.name}"></td>
											<td th:text="*{book.bookNameId.publisher}"></td>
											<td th:text="*{state}"></td>
											<td th:text="*{user.name}"></td>
											<td th:block th:if="${lend.state == lendingState}">
												<div class="mr-10">
													<form th:action="@{/LendingClose/{lendId}(lendId=${lend.id})}"
														method="get">
														<button class="w-60 btn btn-primary" type="submit"
															th:text="クローズ"></button>
													</form>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
								<table class="table">
									<tr>
										<td>
											<div class="mr-10">
												<form th:action="@{/}" method="get">
													<button class="w-40 btn btn-primary" type="submit"
														th:text="メインサイト"></button>
												</form>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div class="mr-10">
												<form th:action="@{/bookAdminMain}" method="get">
													<button class="w-40 btn btn-primary" type="submit"
														th:text="管理者メニュー"></button>
												</form>
											</div>
										</td>
										<td>
											<div class="mr-10">
												<form th:action="@{/bookIndex}" method="get">
													<button class="w-40 btn btn-primary" type="submit"
														th:text="利用者メニュー"></button>
												</form>
											</div>
										</td>

									</tr>
									<tr>
										<td>
											<div class="mr-10">
												<form th:action="@{/deleteLending}" method="get">
													<button class="w-40 btn btn-danger" type="submit"
														th:text="全ての貸し借り状態の削除"></button>
												</form>
											</div>
										</td>
									</tr>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
</body>

</html>