<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<head>
	<meta charset="UTF-8" th:remove="tag">
</head>

<body>
	<!-- コンテンツの表示 -->
	<main layout:fragment="content" class="bg-image vh-100">
		<div class="container pt-4">
			<!-- 左右中央に表示 -->
			<div class="row justify-content-center">
				<div class="card shadow" style="max-width: 480px;">
					<div class="card-body">
						<h3 class="card-title mb-3 text-center text-navy" th:text="本の新規登録"></h3>
						<form th:action="@{/bookRegConfirm}" method="post" novalidate>
							<div class="mb-3">
								<input type="hidden" th:field="${bookName.id}">

								<div class="mb-3">

									<label for="title" th:text="#{title}">
										<span class="badge bg-danger">必須</span>
									</label>
									<input type="text" th:field="${bookName.title}" class="form-control"
										th:errorclass="is-invalid">
									<div class="invalid-feedback" th:errors="${bookName.title}"></div>
								</div>

								<div class="mb-3">
									<label for="author" th:text="#{author}">
										<span class="badge bg-danger">必須</span>
									</label>
									<input type="text" th:field="${bookName.author}" class="form-control"
										th:errorclass="is-invalid">
									<div class="invalid-feedback" th:errors="${bookName.author}"></div>
								</div>

								<div class="mb-3">
									<label for="detail" th:text="#{detail}">
										<span class="badge bg-danger">必須</span>
									</label>
									<input type="text" th:field="${bookName.detail}" class="form-control"
										th:errorclass="is-invalid">
									<div class="invalid-feedback" th:errors="${bookName.detail}"></div>
								</div>

								<div class="mb-3">
									<label for="publisher" th:text="#{publisher}">
										<span class="badge bg-danger">必須</span>
									</label>
									<input type="text" th:field="${bookName.publisher}" class="form-control"
										th:errorclass="is-invalid">
									<div class="invalid-feedback" th:errors="${bookName.publisher}"></div>
								</div>

								<div class="mb-3">
									<label for="genre" th:text="#{genre}"></label>
									<br>
									<select id="genre" name="genre">

										<option value="0"></option>
										<option th:each="list : ${genreList}" th:value="${list.id}"
											th:field="${bookName.genre}" th:text="${list.name}"
											th:selected="${list.id} == ${selectedValue}"></option>
									</select>
								</div>

								<div class="mb-3">
									<label for="img" th:text="#{img}">
										<span class="badge bg-danger">必須</span>
									</label>
									<input type="text" th:field="${bookName.img}" class="form-control"
										th:errorclass="is-invalid">
									<div class="invalid-feedback" th:errors="${bookName.img}"></div>
								</div>

								<input type="hidden" th:field="${book.id}">
								<div class="mb-3 form-check">
									<input class="form-check-input" type="checkbox" th:field="${book.lendable}">
									<label class="form-check-label"
										th:for="${#ids.prev('lendable')}">貸し出しの可否(チェック入りで許可する状態)</label>
								</div>
								<button class="btn btn-primary btn-wide" type="submit" th:text="登録"></button>

							</div>
						</form>
						<button class="btn btn-secondary btn-wide" onclick="history.back()" th:text="戻る"></button>
					</div>
				</div>
			</div>
		</div>
	</main>

</body>

</html>