<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>BTO</title>
</head>
<body>
	<table>
		<tr>
			<th>id</th>
			<th>name</th>
			<th>email</th>
			<th>password</th>
			<th>state</th>
		</tr>
		<tr th:each="list : ${userList}" th:object="${list}">
			<td th:text="*{id}"></td>
			<td th:text="*{name}"></td>
			<td th:text="*{email}"></td>
			<td th:text="*{password}"></td>
			<td th:text="*{state}"></td>
			<td>
				<form th:action="@{/register/{id}(id=*{id})}" method="get">
					<button>
						編集
					</button>
			</form>
			</td>
			
		</tr>
	</table>
	
	<form th:action="@{/register}" method="get">
		<button>
    		新規登録
		</button>
	</form>
</body>
</html>