<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorate="~{layout/mainLayout}">

<head>
	<meta charset="UTF-8" th:remove="tag">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
	<script src="/js/book/overlay.js" type="module"></script>
	<script src="/js/book/bookSearchAnotherPage.js" type="module"></script>
	<script src="/js/book/bookSearchEntryAnotherPage.js" type="module"></script>
</head>

<body>

	<!-- トップバーの表示 -->
	<div layout:fragment="topbar" th:replace="~{fragments/topbar :: topbar}"></div>

	<div>
		<!-- コンテンツの表示 -->
		<main layout:fragment="content" class="bg-light">
			<div class="container-fluid">
				<div class="row">
					<div class="col">
						<h4 class="border-bottom my-3" th:text="メインサイト"></h4>
						<div class="mb-3">
							<table class="table">
								<tr th:text="*{username}"></tr>
							</table>
						</div>
					</div>
				</div>
			</div>
		</main>
	</div>
</body>

</html>