<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorate="~{layout/mainLayout}">

<head>
	<meta charset="UTF-8" th:remove="tag">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

	<script src="/js/book/overlay.js" type="module"></script>
	<script src="/js/book/bookSearchAnotherPage.js" type="module"></script>
	<script src="/js/book/bookSearchEntryAnotherPage.js" type="module"></script>


	<link th:href="@{/css/main_BookSlicker.css}" rel="stylesheet">
	<link th:href="@{/css/main_returnBookInfo.css}" rel="stylesheet">

</head>

<body>

	<!-- トップバーの表示 -->
	<div layout:fragment="topbar" th:replace="~{fragments/topbar :: topbar}"></div>

	<!-- コンテンツの表示 -->
	<main layout:fragment="content" class="bg-light">
		<div class="container">
			<div class="row">
				<div class="sumahoActive mb-5"></div>
				<h4 class="border-bottom my-3" th:text="メインサイト"></h4>
				<p class="mb-5" th:text="*{username}"></p>
				<div class="col-md-12 col-sm-12 col-xs-12 mb-5">
					<h2>新着</h2>
					<ul class="slider" style="padding-left: 1rem;">
						<li><img th:src="@{/images/{items} (items=Javasukkiri.png)}" alt=""></li>
						<li><img th:src="@{/images/{items} (items=dokusyuJava.jpg)}" alt=""></li>
						<li><img th:src="@{/images/{items} (items=springbootettei.jpg)}" alt=""></li>
						<li><img th:src="@{/images/{items} (items=springboot2nyumon.jpg)}" alt=""></li>
						<li><img th:src="@{/images/{items} (items=javasilverse11.jpg)}" alt=""></li>
					</ul>
					<script src="/js/mainSite/slicker.js"></script>
				</div>
				<div class="col-md-12 col-sm-12 col-xs-12 mb-5">
					<div class="card shadow">
						<div class="card-body">
							<h4 class="border-bottom my-3" th:text="貸し出し状況"></h4>
							<th:block th:if="${rentalList.size() == 0}">
								<p th:text="該当データなし"></p>
							</th:block>
							<th:block th:if="${rentalList.size() > 0}">
								<table class="table table-bordered">
									<thead>
										<tr class="table_th">
											<th th:text=#{title}></th>
											<th th:text=#{author}></th>
											<th class="sumahoNone" th:text=#{genre}></th>
											<th class="sumahoNone" th:text=#{publisher}></th>
											<th>返却期限</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="lending : ${rentalList}" th:object="${lending}">
											<td th:text="*{book.bookNameId.title}"></td>
											<td th:text="*{book.bookNameId.author}"></td>
											<td class="sumahoNone" th:text="*{book.bookNameId.genre.name}"></td>
											<td class="sumahoNone" th:text="*{book.bookNameId.publisher}"></td>
											<td th:text="*{returnDueDate}"></td>
										</tr>
									</tbody>
								</table>
							</th:block>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
</body>

</html>