<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" th:remove="tag">

</head>

<body>

	<div th:fragment="tableReload">
		<div id="searchTableStr" th:name="${searchStr}" type=hidden></div>
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="menuButton">
				<!-- <th:block th:if="${cartLendingList.size() >= 1}">
					<div class="mb-3">
						<form th:action="@{/bookRental}" method="get">
							<button class="custom-btn btn-Rental" type="submit" th:text="本を借りる"></button>
						</form>
					</div>
				</th:block>
				<th:block th:unless="${cartLendingList.size() >= 1}">
					<div class="mb-3">
						<form th:action="@{/bookRental}" method="get">
							<button class="custom-btn btn-Rental" type="submit" th:text="本を借りる"
								disabled="disabled"></button>
						</form>
					</div>
				</th:block>
				<th:block th:if="${rentalList.size() >= 1}">
					<div class="mb-2">
						<form th:action="@{/bookReturnRegister}" method="get">
							<button class="custom-btn btn-Return" type="submit" th:text="本の返却"></button>
						</form>
					</div>
				</th:block>
				<th:block th:unless="${rentalList.size() >= 1}">
					<div class="mb-2">
						<form th:action="@{/bookReturnRegister}" method="get">
							<button class="custom-btn btn-Return" type="submit" th:text="本の返却"
								disabled="disabled"></button>
						</form>
					</div>
				</th:block> -->
			</div>

			<th:block th:if="${bookList.size() > 0}">
				<div class="bl_media_container">
					<th:block th:each="book: ${bookList}" th:object="${book}" id="bookList">
						<div class="card shadow bl_media_itemWrapper">
							<div class=" card-body">
								<div class="bl_media_item">
									<p class="title" th:text="*{title}"></p>
									<div class="flex" style="overflow: hidden;">

										<figure class="image"><img th:src="@{/images/{items} (items=*{img})}"
												th:alt="*{title}">
										</figure>
										<div class="right">

											<p class="elementTitle" th:text="#{author} + '
											'"></p>
											<p class="text" th:text="*{author}"></p>
											<p class="elementTitle" th:text="'本のジャンル'+'
											'"></p>
											<p class="text" th:text="*{genre.name}"></p>
											<p class="elementTitle" th:text="#{publisher} + '
											'"></p>
											<p class="text" th:text="*{publisher}"></p>
											<div>
												<p class="elementTitle" th:text="#{renralActivate}"></p>
												<th:block th:if="${bookCountMap.get(book.title) > 0}">
													<th:block th:if="${lendingMap.get(book.title) == null}">
														<div
															th:replace="~{BookRental/BookIndexFragment/bookTableElement/lendableIcon :: lendableIcon}">
														</div>
													</th:block>
													<th:block th:if="${lendingMap.get(book.title) != null}">
														<th:block
															th:if="${(lendingMap.get(book.title).state != lendingState_CART && lendingMap.get(book.title).state != lendingState_RENTAL && lendingMap.get(book.title).state != lendingState_RETURN)}">
															<div
																th:replace="~{BookRental/BookIndexFragment/bookTableElement/lendableIcon :: lendableIcon}">
															</div>
														</th:block>
														<th:block
															th:if="${(lendingMap.get(book.title).state == lendingState_CART || lendingMap.get(book.title).state == lendingState_RENTAL ||lendingMap.get(book.title).state == lendingState_RETURN)}">
															<div
																th:replace="~{BookRental/BookIndexFragment/bookTableElement/notLendableIcon :: notLendableIcon}">
															</div>
														</th:block>
													</th:block>
												</th:block>
												<th:block th:if="${bookCountMap.get(book.title) == 0}">
													<div
														th:replace="~{BookRental/BookIndexFragment/bookTableElement/notLendableIcon :: notLendableIcon}">
													</div>
												</th:block>
											</div>
										</div>
									</div>
									<p class="tableText" th:text="*{detail}"></p>
								</div>
							</div>
							<div class="card-footer">
								<div style="display:flex;gap: 0px 8px; ">
									<!-- 本の冊数が0でないことの判定 -->
									<th:block th:if="${bookCountMap.get(book.title) > 0}">
										<!-- 本を借りている履歴があるかどうか -->
										<th:block th:if="${lendingMap.get(book.title) == null}">
											<div class="mr-10">
												<div th:id="debug+${book.id}"
													th:name="${bookCountMap.get(book.title) > 0}">
												</div>
												<form method="get" th:id="'book_cart_'+${book.Id}">
													<button class="custom-btn btn-CartIn cartButtonSet_" type="button"
														th:name="${book.id}" th:text="カートに入れる"
														th:id="'cartButtonSet_'+${book.Id}"
														th:onclick="changeCartBookNum(1);"></button>
												</form>
											</div>
										</th:block>
										<th:block th:if="${lendingMap.get(book.title) != null}">
											<!-- 本を借りている履歴がある場合、クローズの場合のみ新たに借りることができる -->
											<th:block th:if="${lendingMap.get(book.title).state == lendingState_CLOSE}">
												<div class="mr-10">
													<div th:id="debug+${book.id}"
														th:name="${bookCountMap.get(book.title) > 0}">
													</div>
													<form method="get" th:id="'book_cart_'+${book.Id}">
														<button class="custom-btn btn-CartIn cartButtonSet_"
															type="button" th:name="${book.id}" th:text="カートに入れる"
															th:id="'cartButtonSet_'+${book.Id}"
															th:onclick="changeCartBookNum(1);"></button>
													</form>
												</div>
											</th:block>
											<th:block th:if="${lendingMap.get(book.title).state != lendingState_CLOSE}">
												<div class="mr-10">
													<button class="custom-btn btn-CartIn" type="submit"
														th:text="カートに入れる" disabled="disabled"></button>
												</div>
											</th:block>
										</th:block>
									</th:block>

									<th:block th:if="${bookCountMap.get(book.title) == 0}">
										<div class="mr-10">
											<button class="custom-btn btn-CartIn" type="submit" th:text="カートに入れる"
												disabled="disabled"></button>
										</div>
									</th:block>
									<th:block th:if="${lendingMap.get(book.title) != null}">
										<!-- カートに入っている場合のみカートから取り出すことができる -->
										<th:block th:if="${lendingMap.get(book.title).state == lendingState_CART}">
											<div class="mr-10">
												<form method="get" th:id="'book_cartDelete_'+${book.Id}">
													<button class="custom-btn btn-CartIn  book_cartDelete_"
														type="button" th:name="${book.id}" th:text="カートから取り出す"
														th:id="'cartButtonDelete_'+${book.Id}"
														th:onclick="changeCartBookNum(-1);"></button>
												</form>
											</div>
										</th:block>
										<th:block th:if="${lendingMap.get(book.title).state != lendingState_CART}">
											<div class="mr-10">
												<button class="custom-btn btn-CartIn" type="submit" th:text="カートから取り出す"
													disabled="disabled"></button>
											</div>
										</th:block>
									</th:block>
									<th:block th:if="${lendingMap.get(book.title) == null}">
										<div class="mr-10">
											<button class="custom-btn btn-CartIn" type="submit" th:text="カートから取り出す"
												disabled="disabled"></button>
										</div>
									</th:block>
								</div>
							</div>
						</div>
					</th:block>
				</div>
			</th:block>
			<div th:if="${bookList.size() == 0}">
				<p>該当データがありません</p>
			</div>
			<div class="menuButton">
			</div>
		</div>
		<hr>
		<!-- <th:block th:if="${cartLendingList.size() >= 1}">
			<div class="mb-3">
				<form th:action="@{/bookRental}" method="get">
					<button class="custom-btn btn-Rental" type="submit" th:text="本を借りる"></button>
				</form>
			</div>
		</th:block>
		<th:block th:unless="${cartLendingList.size() >= 1}">
			<div class="mb-3">
				<form th:action="@{/bookRental}" method="get">
					<button class="custom-btn btn-Rental" type="submit" th:text="本を借りる" disabled="disabled"></button>
				</form>
			</div>
		</th:block> -->
	</div>

</body>

</html>